<br/>
<div class='container'>
    <h1> Our Problem </h1>

    <p class='container'> we found it so very hard to juggle all of our book clubs , our contacts, and our calendars.
     we were constantly runing back and forth</p>

     <h1> Our Solution</h1>
     <p class='container'> we designed this website to hold all your necessary book club information in one convenient place.</p>
</div>